@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Oswald&family=Poppins:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background:azure;
    color:black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 35px;
    color:rgb(109, 18, 137);
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color:#0a0a0a;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color:rgb(158, 54, 167);
}
.home{
    height: 100vh;
    display:flex;
    align-items: center;
    padding:0 10%;
}
.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 600;

}
.home-content img{
    max-width: 30%;  
    height: auto;  
   
}
.home-content h3{
    font-size: 32px;
    font-weight: 200;
    color:rgb(137, 15, 165);
}
.home-content p{
    margin:20px 0 40px;
    font-size: 16px;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #536cc8;
    border-radius: 50%;
    font-size: 20px;
    color:rgb(111, 126, 209);
    text-decoration: none;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(206, 159, 237);
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.about-text h2{
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: rgb(108, 6, 159);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgba(10, 0, 10, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
.skills{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(250, 250, 250);
}
.tech h2{
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.tech h3{
    color: black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin: auto;
    width: 60%;
}
.cell{
    height: 265px;
    width: 335px;
    padding: 20px 35px;
    background: #c175ca;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.project{
    background:rgb(206, 159, 237);
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: black;
    font-size: 55px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #b54bc1;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(0, 0, 0);
}
h5{
    color: rgb(6, 6, 5);
    font-size: 23px;
    margin-bottom:15px ;
}
.pra p{
    color: rgba(40, 6, 40, 0.8);
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column; 
  position: relative;
  background-color: white;
  background-size: cover;
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 2rem;
  font-weight: 900;
  color: #040405;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 1.5rem;
  color: rgb(205, 136, 227);
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(157, 100, 163, 0.95);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: .9rem;
}

#name, #email, #subject, #message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  background-color: #980fba;
  cursor: pointer;
  transition: all .3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(35, 18, 48, 0.925);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #ba6fcf;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #f3eaea;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #fff0f0;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #ece8e8;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #e4d9d9;
}


